<form>
  <label for="username">
    <input id="username" type="text" name="username" />
  </label>
  <label for="password">
    <input id="password" type="password" name="password" />
  </label>
  <button type="submit"> login </button>
</form>